
<div class="comic-1">
    <div class="about-main">
        <h1 class="title">Cominectの使い方</h1>
    </div>
    <div class="">
        <h4 class="about-body">
            Cominectは漫画好きなユーザーと作品を繋ぐサイトです</br>
            見た漫画のレビュー、人気作品と出会う、</br>
            お気に入りの作品や読んでみたい作品を管理する</br>
            ことを目的としたサイトになっております。</br>
            ログイン後は、作品の登録、レビュー</br>
            マイページの編集や管理が可能です。</br>
            年齢、性別問わず多くの方に使用して頂くことを</br>
            目的としておりますので、節度のあるレビューや</br>
            コメントをお願いいたします。</br>
        </h4>
    </div>
</div>
   