// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.comic-1 {
  background-image: image-url("mm.jpg");
  height: 1000px;
  background-size:cover;
}

.title {
  width: 90%; /* 横幅90% */
  padding: 100px 0;
  margin: 0 auto;
  text-align: center;
  font-size: 100px;
  color: #0000FF;
}

.about-body {
width: 90%; /* 横幅90% */
  padding: 15px 0;
  margin: 0 auto;
  text-align: center;
  font-size: 40px;
  color: #13EEFF;
}

